@charset "UTF-8";
#app_wrapper{
  padding: 10px;
  padding-top: 10px;
}
#app_manage{
  padding: 10px;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 0 rgba(150,150,150,1);
}
#logo_file{
  position: relative;
  float: left;
}
#logo_preview{
  width: 100px;
  height: 100px;
  background:red;
}
#logo_file_hidden{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height:100px;
  opacity: 0;
}
#logo_preview_wrap{
  width: 100px;
}
#app_title_form{
  float: left;
}
#app_files{
  float: left;
}
#apk_file{
}
#app_images{
  clear: both;
  width: 100%;
  margin-top: 10px;

  display: -webkit-flex;
  -webkit-flex-direction: row;

  display: flex;
  flex-direction: row;

  justify-content:space-around;
}
div.app_image{
  width: 128px;
  height: 256px;
  background:red;
}
input.app_image_input{

}
#company_id{
  clear: both;
}
