@charset "UTF-8";

body{ 
	background-image:url("../img/bg.jpg");
	background-repeat:repeat;
	font-family:Helvetica, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;	
	-webkit-touch-callout:none; // リンク長押し禁止
	-webkit-user-select:none; // テキスト長押し禁止
}

/**
 * ヘッダ 
 */

.header{
	width: 100%;
	height: 45px;
	background-color: #FFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #efefef;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
}

.header_box{
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	display: block;
	padding-top: 17px;
	padding-right: 17px;
	padding-left: 17px;
	text-align: center;
}

.header_box li{
	display:inline;
}

.header_box li img{
}

.header_box:after{
	content: "."; 
	display:block;
 	height: 0; 
  	font-size:0;	
  	clear: both; 
  	visibility:hidden;
}

.list_category, .list_search, .list_user{
	width: 16px;
	height: 16px;
	margin: 0px;
}

.list_user{
	margin-left: 10px;
}  

.list_logo{
	width: 94px;
	height: 16px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 20px; /*32 30*/
	margin-left: 55px; /*48 150*/
}

.icon_category, .icon_search, .icon_user{
	height: 16px;
	width: 16px;
}

.header_logo{
	width: 81px;
	height: 16px;
}

.header_break{
	margin-top: 45px;
}

/**
 * グローバルナビ
 */

.global_nav_break{
	margin-top: 45px;
}

.global_nav{
	width: 100%;
	height: 45px;
	background-color: #FFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #efefef;
	position: fixed;
	bottom: 0px;
	left: 0px;
}

.global_nav_box{
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	display: block;
	text-align: center;
}

.global_nav_box li{
	display: inline-block;
	width: 33%;
	margin-top: 0px;
	margin-left: -2px;
	margin-right: -2px;
	margin-bottom: 0px;
}

.global_nav_box li img{
	display: inline-block;
	width: 45px;
	margin: 0px;
}

.global_nav_box:after{
	content: "."; 
	display:block;
 	height: 0; 
  	font-size:0;	
  	clear: both; 
  	visibility:hidden;
}

/**
* フッタ 
*/

footer{
	color: #c7c3c2;
	text-align: center;
	margin-top: 10px;
	z-index: 999;
}

footer ul li{
	display: inline;
	text-decoration: underline;
	line-height: 14px;
	margin-right:20px;
}

footer ul li:last-child{
	margin-right:0px;
}

footer li:after{
	content: "."; 
 	height: 0; 
  	font-size:0;	
  	clear: both; 
  	visibility:hidden;
}

footer p{
	margin-top: 10px;
	padding-bottom: 10px;
	font-size: 11px;
}

footer a:link, footer a:visited, footer a:hover, footer a:active{
	color: #c7c3c2;
} 

/**
* バナー
*/

.banner_img{
	width: 100%;
}

/**
* タブ
*/

.tab{
	width: 240px;
	text-align: center;
	background-color: #FFFFFF;
	color: #838384;
	margin-left: auto;
	margin-right: auto;
	margin-top: -20px;
	margin-bottom: 15px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}

.tab li{
	width: 120px;
	height: 43px;
	/*display:block;*/
	line-height: 43px;
	float:left;
	border: 1px solid #838384;	
	box-sizing: border-box;
}

.tab:after{
	content: "."; 
	display:block;
 	height: 0; 
  	font-size:0;	
  	clear: both; 
  	visibility:hidden;
}

.tab li:first-child{
	border-radius:5px 0 0 5px;
	-webkit-border-radius:5px 0 0 5px;
}

.tab li:last-child{
	border-radius:0 5px 5px 0;
	-webkit-border-radius:0 5px 5px 0;
}

.tab deselect{
	background-color: #FFFFFFF;
	color: #838384;
}

.tab .select{
	background-color: #838384;
	color: #FFFFFF;
}

.disnon{
	display: none;
}

/**
* ランキング
*/

.ranking_mod{
	height: 140px;
	background-color: #FFF;
	border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
	margin-left: 17px;
	margin-bottom: 7px;
}

.ranking_upper{
	height: 90px;
	box-sizing:border-box;
}

.ranking_lower{
	height: 50px;
	box-sizing: border-box;
	line-height: 50px;
	display: table-cell;
	vertical-align: middle;
}

/*
.ranking_lower p{
	display: table-cell; 
	vertical-align: middle;
	text-align: center;
	line-height: 0;	
}
*/

.ranking_number{
	color: #2a60ad;
	font-size: 21px;
	display: block;
	width: 30px;
	padding-top: 0px;
	padding-left: 5px;
	float: left;
	margin-top: 12px;
}

.ranking_icon{
	display: block;
	float: left;
	height: 90px;
	width: 70px;
}

.app_icon{
	display: block;
	height: 70px;
	width: 70px;
	float: left;
	margin-top: 12px;
	border:none;
}

.ranking_info{
	height: 90px;
	display: block;
	float: left;
	width: 130px;
	font-size: 10px;
	padding-left: 13px;
	box-sizing:border-box;
}

.app_title{
	width: 117px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	margin-top: 12px;
}

.app_developer{
	color: #a9a4a1;
	font-size: 10px;
}

.app_star{
	color: #a9a4a1;
	font-size: 10px;
	margin-top: 20px;
	display: inline-block;
	float: left;
	line-height: 10px;
}

.app_period{
	color: #a9a4a1;
	font-size: 10px;
	display: inline-block;
	margin-top: 20px;
	float: right;
	line-height: 10px;
}

.app_days{
	color: #000000;
	font-size: 10px;
}

.ranking_info:after{
	content: "."; 
	display:block;
 	height: 0; 
  	font-size:0;	
  	clear: both; 
  	visibility:hidden;
}
.ranking_upper:after{
	content: "."; 
	display:block;
 	height: 0; 
  	font-size:0;	
  	clear: both; 
  	visibility:hidden;
}

.icon{
	float: left;
	vertical-align:middle;
}

.icon_new{
	width: 57px;
	margin-left: -5px;
}

.icon_review{
	width: 23px;
}

.btn_android{
	width: 115px;
}

.btn_ios{
	width: 115px;

}
