@charset "UTF-8";

/**
 * 共通
 */
 
body{ 
	background-image:url("../img/bg.jpg");
	background-repeat:repeat;
	font-family:Helvetica, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;	
	-webkit-touch-callout:none; // リンク長押し禁止
	-webkit-user-select:none; // テキスト長押し禁止
}

.app_star{
	color: #a9a4a1;
	font-size: 10px;
	margin-top: 0px;
	display: inline-block;
	float: left;
	line-height: 10px;
}

/**
 * ヘッダ 
 */

.header{
	height: 38px;
	background-color: #FFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #efefef;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
	-webkit-box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
	margin-left:auto;
	margin-right:auto;
}

.header_box{
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	display: block;
	padding-top: 14px;
	padding-right: 15px;
	padding-left: 15px;
	text-align: center;
	width:700px;
}

.header_box li{
	display:inline;
}

.header_box li img{
}

.header_box:after{
	content: "."; 
	display:block;
 	height: 0; 
  	font-size:0;	
  	clear: both; 
  	visibility:hidden;
}

.list_common{
	font-size: 6px;
	background-color: #c7c3c2;
	height: 16px;
	margin: 0px;
	float: right;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: -3px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 3px;
	line-height:16px;
}

.list_common a{
	display: block;
}

.list_sort{
	/*width:105px;*/
	height:16px;
}

.list_user_info{
	width:auto;
}

.list_search_icon{
	float:left;
	height: 16px;
	margin: 0px;
	float: left;
	margin-right: 5px;
	margin-left: 0px;
	margin-top: 0px;
}


.search_icon_img{
	width: 16px;
}

.search_box{
	background-color: #dbdbdf;
	color: #000000;
	width: 150px;
	height: 22px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	line-height: 22px;
	font-size: 10px;
	text-align: left;
	text-indent: 5px;
	margin-top:0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 5px;
	border: none;
	padding: 0px;
	float:left;
	margin-top: -3px;
}

.list_logo{
	width: 94px;
	height: 16px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 10px;
	margin-left: 5px;
	float: left;
}

.header_logo{
	width: 81px;
	height: 16px;
}

.header_break{
	margin-top: 37px;
	height: 15px;
}

.search_break{
	margin-top: 47px;
}

/**
 * モーダルウィンドウ
 */

#modal_screen{
	background-color:rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	margin: 0;
	z-index:999;
	position:fixed;
	display:none;
	bottom: -38;
}

.sorts{
	background-color: #e2e0e1;
	font-size: 10px;
}

.modal_search{
	background-color: #ffffff
}

.sort{
	height: 45px;
	line-height: 45px;
	text-align: center;
}

.sort a{
	display:block;
}


.separation{
	padding: 0px;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #fff;
	width: 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

.modal_sort{
	display: none;
	color: #606061;
}

.modal_search{
	display: none;
	text-align: left;
}

.modal_user{
	display:none;
}


.search_cancel{
	color: #6091c0;
	font-size: 12px;
	margin-right:8px;
	display: inline-block;
	float:right;
}

.search_icon{
	width: 12px;
	position: absolute;
	top: 16px;
	left: 15px;
}

.modal_user{
	padding: 10px;
}

.modal_box{
	text-align: left;
	background-color: #ffffff;
	padding: 10px;
}

.user_icon{
	width: 45px;
	position: absolute;
}

.user_info{
	margin-left: 80px;
	height: 45px;
	padding-bottom: 10px;
}

.user_term{
	color: #999898;
	text-decoration:underline;
	float: left;
}

.user_logout{
	width: 91px;
	height: 25px;
	display: inline-block;
	line-height: 25px;
	text-align: center;
	background-color: #6a6a6b;
	color: #ffffff;
	float: right;
	text-decoration: none;
}

.clearfix{
	content: "."; 
	display:block;
 	height: 0; 
  	font-size:0;	
  	clear: both; 
  	visibility:hidden;
}

/* レビューフォーム*/
#review_form{
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-260px;
	margin-left:-260px;
	display:none;
	width: 520px;
}

.form_button_close{
	width:40px;
	height:40px;
	position:absolute;
	right:-20px;
	top:-20px;	
}

.title_box, .message_box{
	width: 100%;
	height: auto;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	line-height: 1.5em;
	font-size: 14px;
	text-align: left;
	text-indent: 0;
	margin-bottom: 15px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding: 5px;
	border: 1px solid #838384;
	box-sizing: border-box;
	-webkit-box-shadow: 2 0 4px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 2 0 4px 0 rgba(0,0,0,0.2) inset;
	resize: vertical;
	-webkit-appearance: none;
}
.message_box{
	max-height: 70px
}


#review_form ul{
	display:block;
	margin-right:auto;
	margin-left:auto;
}
#review_form ul li{
	height: 30px;
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
	margin-left:0;
	padding:0;
	margin-top:0;
	margin-right:0;
	margin-bottom :3px;
}

#review_form .app_star{
	color: #a9a4a1;
	margin-right: 5px;
	margin-top: 0px;
	display: inline-block;
}

#review_form .app_star img{
	width: 20px;
	height: 20px;
	margin-bottom:0px;
}

.submit_button{
	background-color: #6091c0;
	color: #FFFFFF;
	width: 100%;
	height: 35px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-webkit-appearance: none;
	line-height: 35px;
	font-size: 16px;
	text-align: center;
	border-style: none;
	padding: 0px;
	margin: 0px;
}

/**
 * グローバルナビ
 */


.global_nav{
	visibility: hidden;
	display: none;
}


/**
* バナー
*/

.banner{
	visibility: visible;
	display:none;
	width:15px;
}

/**
* タブ
*/

.tab{
	/*
	visibility:hidden;
	display:none;
	*/
	width: 520px;
	margin-left:auto;
	margin-right:auto;
}

/**
* お知らせ
*/
.information{
	width:520px;
}

/**
* ランキング
*/

.wrapper{
	padding-top: 4px;
	margin-left:auto;
	margin-right:auto;
	width: 520px;
}

.disnon{
	display:none;
}

.ranking_mod{
	width: 520px;
	height: 100px;
	background-color: #FFF;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	-webkit-box-shadow: 0px 2px 4px 0 rgba(150,150,150,1);
	box-shadow: 0px 2px 4px 0 rgba(150,150,150,1);
	margin-bottom: 10px;
	margin-top:0px;
}

.ranking_mod:last-of-type{
	/*margin-bottom: 10px;*/
}

.ranking_mod_break{
	height: 7px;
	display:block;
}

.ranking_upper{
	height: 60px;
	box-sizing: border-box;
}

.ranking_lower{
	height: 40px;
	box-sizing: border-box;
	line-height: 42px;
	display: table-cell;
	vertical-align: middle;
}

.ranking_number{
	color: #2a60ad;
	font-size: 12px;
	display: block;
	width: 20px;
	padding-top: 0px;
	padding-left: 4px;
	float: left;
	margin-top: 10px;
	font-weight: bold;
}

.ranking_icon{
	display: block;
	float: left;
	width: 50px;
}

.app_icon{
	display: block;
	height: 50px;
	width: 50px;
	float: left;
	margin-top: 10px;
	border-style: none;
	border-radius: 4px;
	-webkit-border-radius: 4px;
}

.ranking_info{
	display: block;
	float: left;
	width: 425px;
	font-size: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}

.app_title{
	width: 425px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	height: 17px;
	line-height: 20px;
	margin-top: 10px;
}

.app_developer{
	width: 425px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #a9a4a1;
	font-size: 8px;
	margin-top: 0px;
}

ranking_info .app_star img{
	margin-top:0;
}

.app_star .star{
	height: 7px;
	width: 7px;
}

.app_star img{
	height: 7px;
	width: 7px;
}

.app_period{
	color: #a9a4a1;
	font-size: 10px;
	display: inline-block;
	margin-top: 5px;
	float: right;
	line-height: 10px;
	margin-left: 10px;
}

.app_days{
	color: #000000;
	font-size: 10px;
}

.ranking_info:after{
	content: "."; 
	display:block;
 	height: 0; 
  	font-size:0;	
  	clear: both; 
  	visibility:hidden;
}
.ranking_upper:after{
	content: "."; 
	display:block;
 	height: 0; 
  	font-size:0;	
  	clear: both; 
  	visibility:hidden;
}

.icon{
	float: left;
	vertical-align:middle;
}

.icon_new{
	width: 40px;
	margin-left: -3px;
	margin-right: 12px;
	/*-webkit-box-shadow: -1px 1px 1px 0 rgba(0,0,0,0.2);
	box-shadow: -1px 1px 1px 0 rgba(0,0,0,0.2);*/
}

.icon_review{
	width: 19px;
	margin-right: 234px;
	/*margin-right: 264px;*/
}

.btn_edit_mock{
	width: 30px;
	margin-right: 8px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
}

.btn_android{
	width: 80px;
	margin-right: 8px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
}

.btn_ios{
	width: 80px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
}

/**
* 詳細
*/

.app_imgs{
	margin-left:auto;
	margin-right:auto;
	width: 520px;
	overflow:scroll;
}

.scroller{
	width: 280px; /* To be controlled by JS*/
}

.app_img_container{
	margin-bottom: 10px;
	float:left;
}

#addApp .button_delete{
	/*content:url("../img/button_close.png");*/
	content:'';
	background-image:url("../img/button_close.png");
	width:30px;
	height:30px;
	position:absolute;
	top:0px;
	left:0px;
	background-size: 30px 30px;
	display:block;
	z-index:100;
}

.app_img{
	/*width: 135px;*/
	width: 270px;
	display:block;
	margin-left: 5px;
	margin-right: 5px;
}

.detail_content{
	padding: 5px;
	color: #606061;
	font-size: 12px;
}

.detail_info li{
	list-style-type:disc;
	list-style-position: inside;
}

.wrapper .separation{
	/*width: 95%;
	margin-right: 0;
	margin-left: auto;*/
}

/**
* レビュー
*/

.review_summary{
	background-color: #ffffff;
	padding: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
}

.review_summary_left{
	float: left;
	text-align: left;
	width: 50%;
}

.review_summary_right{
	float: right;
	text-align: left;
	width: 50%;
}

.review_summary:after{
	content: "."; 
	display:block;
 	height: 0; 
  	font-size:0;	
  	clear: both; 
  	visibility:hidden;
}

.review_summary_left .app_star{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.review_summary_left .app_star img{
	width: 14px;
	height: 14px;
}

.review_summary_right .app_star{
	margin-right: 35px;
	float: right;
}

.review_summary_right .app_star img{
	margin-top: 3px;
}

.review_total{
	text-align:center;
	/*width: 42px;*/
	font-size: 35pt;
	line-height: 42px;
	margin-left: auto;
	margin-right: auto;
	padding:0;
	display:block;
	color: #888888;
}

.write_review{
	color: #6298cb;
	text-align: right;
	margin-right: 5px;
	margin-bottom:10px;
	margin-left: auto;
	width: 125px;
	display: block;
}

.comment{
	position: relative;
}

.action_box{
	position: absolute;
	right: 5px;
	top: 5px;
}

.action_like{
	width: 33px;
	padding:0;
	margin:0;
	visibility: hidden;
}

.action_feedback{
	width: 33px;
	padding:0;
	margin:0;
}

.comment_title{
	color: #030000;
	font-size:12px;
}
.comment .app_star{
	margin-top: 2px;
}

.commenter{
	margin-left: 6px;
	font-size: 10px;
	display:inline;
}

.comment_message{
	font-size: 12px;
}

.feedback{
	position: relative;
	margin-top:15px;
	background-color:#d8d8d8;
	color: #606061;
	padding: 8px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	display: none;
	font-size: 8px;
}

.feedback:after{
	content: '';
	position:absolute;
	border-bottom: 10px solid #d8d8d8;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	top:-10px;
	left: 15px;
}

.feedback_title{
	font-size: 10px;
	color:#000000;
}

/**
* メンテ中
*/

.maintenance_box{
	width: 209px;
	height: auto;
	background-color: #c7c3c2;
	margin-top: 35px;
	padding: 15px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	/* Centering*/
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align:center;
}

/**
* アプリアップロード
*/

/**
* 管理者権限
*/

.critical, .critical a:link, .critical a:visited, .critical a:hover, .critical a:active{
	background-color:#F69;
}

.critical:link, .critical:visited, .critical:hover, .critical:active{
	background-color:#F69;
}