@charset "UTF-8";

body{ 
	background-image:url("../img/bg.jpg");
	background-repeat:repeat;
	font-family:Helvetica, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

/**
 * ヘッダ 
 */

.header{
	width: 100%;
	height: 53px;
	background-color: #FFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #efefef;
	position: fixed;
	top: 0px;
	left: 0px;
}

.header_box{
	height: 53px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	display: block;
	padding-top: 21px;
	padding-right: 17px;
	padding-left: 17px;
	text-align:center;
}

.header_box li{
	display:inline;
}

.header_box li img{
}

.header_box li:after{
	content: "."; 
 	height: 0; 
  	font-size:0;	
  	clear: both; 
  	visibility:hidden;
}

.list_category{
	width: 16px;
	height: 16px;
	margin: 0px;
}

.list_logo{
	width: 94px;
	height: 16px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 48px;
	margin-left: 48px;
}


.list_search{
	width: 16px;
	height: 16px;
	margin: 0px;
}

.icon_category{
	height: 16px;
	width: 16px;
}

.header_logo{
	width: 94px;
	height: 16px;
}

.icon_search{
	height: 16px;
	width: 16px
}

.header_break{
	margin-top: 53px;	
}

/**
 * グローバルナビ
 */

.global_nav_break{
	margin-top: 53px;
}

.global_nav{
	width: 100%;
	height: 53px;
	background-color: #FFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #efefef;
	position: fixed;
	bottom: 0px;
	left: 0px;
}

.global_nav_box{
	height: 53px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	display: block;
	text-align:center;
}

.global_nav_box li{
	display: inline-block;
	width: 33%;
	margin-top: 0px;
	margin-left: -2px;
	margin-right: -2px;
	margin-bottom: 0px;
}

.global_nav_box li img{
	display:inline-block;
	width: 58px;
	margin: 0px;
}

.global_nav_box li:after{
	content: "."; 
 	height: 0; 
  	font-size:0;	
  	clear: both; 
  	visibility:hidden;
}

/**
* フッタ 
*/