@charset "UTF-8";

.login_logo{
	width: 161px;
	height: 29px;
	margin-top: 72px;
	padding-top: 17px;
	padding-bottom: 17px;
	margin-bottom: 0px;
	/* Centering*/
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.login_box{
	width: 245px;
	height: 150px;
	background-color: #c7c3c2;
	margin-top: 30px;
	padding: 15px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	/* Centering*/
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.id_box, .password_box{
	background-color: #FFFFFF;
	color: #c7c3c2;
	width: 100%;
	height: 40px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	line-height: 40px;
	font-size: 14px;
	text-align: left;
	text-indent: 5px;
	margin-bottom: 15px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 0px;
}

.login_button{
	background-color: #6091c0;
	color: #FFFFFF;
	width: 100%;
	height: 40px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-webkit-appearance: none;
	line-height: 40px;
	font-size: 18px;
	text-align: center;
	border-style: none;
	padding: 0px;
	margin: 0px;
}

.login_button a{
	display:block;
}

.can_not_login{
	color: #c7c3c2;
	text-decoration: underline;
	text-align: center;
	font-size: 12px;
	margin-top: 10px;
}
.can_not_login a:link, .can_not_login a:visited, .can_not_login a:hover, .can_not_login a:active{
	color: #c7c3c2;
}

.copyright{
	color: #c7c3c2;
	text-align: center;
	font-size: 11px;
	margin-top: 220px;
	margin-bottom: 14px;
}
